@font-face {
    font-family: swap;
    font-style: normal;
    src: url('');
    font-family: "DM Sans";
    font-weight: 500;
}

@font-face {
    font-family: swap;
    font-style: normal;
    src: url('');
    font-family: "DM Sans";
    font-weight: 600;
}

@font-face {
    font-family: swap;
    font-style: normal;
    src: url('');
    font-family: "DM Sans";
    font-weight: 400;
}

@font-face {
    font-family: swap;
    font-style: normal;
    src: url('');
    font-family: "DM Sans";
    font-weight: 700;
}